h1#page-title {
    font-family: Helvetica;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 16px;
}

.h3, h3 {
    font-size: 24px;
}

li.mck-nav-main__list-item:after {
    bottom:-12px;content:'';display:block;height:8px;position:relative
}
ul#main-menu {
    position:relative;
   
}
ul#main-menu li {
    padding-bottom:12px;
}
ul#main-menu li.active a{
color: #0065BD;
}

ul#main-menu li:after {
    bottom: -12px;
    content: '';
    display: block;
    height: 8px;
    position: relative;
}
ul#main-menu li.active:after {
    background-color: #0065BD;
    bottom: -12px;
    content: '';
    display: block;
    height: 8px;
    position: relative;
}
.logged-in.adminimal-menu .mck-header {top:30px !important; z-index: -1;}
.logged-in.adminimal-menu #page {margin-top:170px !important;}
#admin-menu {z-index: 3001 !important;}
.mck-header__details {width:230px;}

.slider-left {
    float: left;
    width: 310px;
    background-color: #fff;
    height:334px;
    position: relative;
	padding: 40px 25px;
}

.slider-right {
    float: left;
    width: 593px;
    height:334px;
}
.slide-wrap {
	padding: 0;
	margin: 0;
}

.slide-wrap .runningtime{bottom:180px;}
 .view-id-slider { position: relative;}
.view-id-slider .bx-viewport {
	height:334px !important;
	box-shadow: none;
	border:none;
}
.view-id-slider .bx-controls-direction {
	position: absolute;
	bottom: 0;
	right: 0;
}
.runningtime {
	position: absolute;
    bottom: 50px;
    left: 20px;
}
.bx-wrapper {width:905px; margin:0;}
.bx-wrapper .bx-controls-direction a {
	position: relative;
	outline: 0;
    width: 59px;
    height: 58px;
    display: block;
    text-indent: -9999px;
    z-index: 9999;
    background-color: #fff;
    border:1px solid;
	float: left;
}
.bx-wrapper .bx-prev, .bx-wrapper .bx-next {
	background: none;
	left:0;
}
.bx-pager.bx-default-pager {
    display: none;
}
.slider-controls {
    position: absolute;
	    bottom: 0;
	
}

span.mck-icon__arrow-left, span.mck-icon__arrow-right{    color: #fff;}
	
.slider-controls a.next, a.prev {
    background-color: white;
    display: block;
    width: 59px;
    height: 58px;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    float: left;
	background-color: #0065bd;
}
.slider-controls a:hover.next, a:hover.prev {
	background-color: #0065BD;
	color:#fff;

 }
.slider-controls a.bx-next, .slider-controls a.bx-prev {
    width: 59px;
    height: 58px;
    display: block;
    position: absolute;
    top: 0;
}
#block-views-slider-block {
	border-bottom: 1px solid #999;
	padding-bottom: 30px;
}

ul.slide-wrap li.slide, .slider-controls {display: none;}

/* GRID VIEW */
.grid-item {
    float: left;
    width: 280px;
    min-height: 240px;
    height: auto;
    background-color: #fff;
    margin-right: 30px;
    margin-bottom: 40px;
    max-height: 450px;
}
.grid-item-content {
    padding: 30px;
}

.grid-item img{
width: 100%;
height: auto;
}
.grid-video-overlay {
	width:950px;
	/*background: green;*/
	height:400px;
}
.view-id-mck_grid .view-filters{ float:right; height:50px; margin-bottom: 50px;}
.view-id-mck_grid .view-content{ clear:right; }
.view-id-mck_grid .views-exposed-widgets .views-exposed-widget {    width: 150px;
    margin-right: 20px;
    text-align: center;}
.views-exposed-widget.views-submit-button {
    width: auto !important;
    padding-right: 0;
    margin-right: 0 !important;
}

#edit-field-language-tid-wrapper {margin-right: 0;}
.mck-blue{ background-color:#002960; color:#fff;}
.bright-blue{background-color:#3F52B2; color:#fff;}
.global-blue{background-color:#0065bd; color:#fff;}
.cyan{background-color:#00adef; color:#fff;}
.teal{background-color:#006983; color:#fff;}
.turquoise{background-color:#009aa6; color:#fff;}
.blue-gray{background-color:#7d9aaa; color:#fff;}
.purple{background-color:#67317e; color:#fff;}
.mck-white-font {color:#fff;}
.type-documents .grid-item-title {color:#fff;}



#block-mck-categories-block-mck-cat h4 {
	 padding: 15px 0px 5px 0px;
    font-size: 16px;
    font-weight: normal;
}
#block-mck-categories-block-mck-cat {
    padding: 20px;
}
#block-mck-categories-block-mck-cat ul {
	margin:0;
	padding: 0;
}
#block-mck-categories-block-mck-cat ul li {
    padding: 5px 0;
    list-style-type: none;
    font-size: 14px;
    line-height: 130%;
    padding-bottom: 10px;
}

.vertical-separator {
	padding:0 5px;
	color:#999;
}
.video-pub-date {
	color:#999;
}
.views-submit-button input {display: none;}
.views-submit-button button {margin-top:0;}
.views-exposed-form .views-exposed-widget button.form-submit {
    margin-top: 0;
}


/*** fancyselect overrides ***/

div.fancy-select select:focus + div.trigger {
	box-shadow: none !important;
}

div.fancy-select div.trigger {
	border-radius: 0;
	cursor: pointer;
	padding: 10px 24px 9px 9px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	background: #000;
	color: #fff;
	box-shadow: none;
	width: auto;
	border:none;
	transition: all 240ms ease-out;
	-webkit-transition: all 240ms ease-out;
	-moz-transition: all 240ms ease-out;
	-ms-transition: all 240ms ease-out;
	-o-transition: all 240ms ease-out;
}

div.fancy-select ul.options {
    list-style: none;
    margin: 0;
    position: absolute;
    top: 40px;
    left: 0;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
    visibility: hidden;
    opacity: 0;
    z-index: 50;
    height: auto;
    overflow: hidden;
    background: #fff;
    min-width: 200px;
    width:auto;
    border-radius: 0;
    border: 0;
    padding: 0;
    transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    -webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    -moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    -ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    -o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}
div.fancy-select ul.options li {
    padding: 8px 12px;
    color: #000;
    cursor: pointer;
    white-space: nowrap;
    transition: all 150ms ease-out;
    -webkit-transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    -ms-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
}

div.fancy-select ul.options li.hover {
	color:#0065BD;
}
div.fancy-select div.trigger:hover {
	background: #0065DB;
}
div.fancy-select ul.options li.selected {
	background-color: #0065bd;
}
div.fancy-select div.trigger.open {
    background: #0065BD;
    border:none;
    color: #fff;
    box-shadow: none;
}
div.fancy-select div.trigger:after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: #fff;
	top: 17px;
	right: 9px;
}



/*** video page ***/

.node-video-wrapper {
    font-size: 18px;
    font-weight: normal;
    font-family: HelveticaNeue-Light;
}

.node-video-wrapper .video-js {margin-bottom:50px;}
.created-date-running, .node-video-authors, .node-video-description {
    margin-bottom: 35px;
}
.node-video-description {
    line-height: 35px;
}


/** Document Listing CSS */

.capitalize { text-transform: capitalize; }
.stretch { width: 100%}
.left { float: left; }
.right { float: right; }
.grey { color: #999; }
h2.bold { 
    font-size: 2.6em;
    font-weight: bold;
    font-family: HelveticaNeueBold;
}


.page-search #main-wrapper { min-height: 50em;}
#views-exposed-form-site-search-page .views-exposed-form .views-exposed-widget,
#views-exposed-form-site-search-page .views-exposed-form .views-exposed-widget input   {
    display: block; margin-top: 0px !important;
}

#views-exposed-form-site-search-page .views-exposed-form .views-exposed-widget input#edit-for   {
    width: 102%;
    height: 52px;
    padding: 8px;
    font-size: 17px;
    border:1px #ccc solid;
    color: #333 !important;
}


#views-exposed-form-site-search-page .views-exposed-form div#edit-for-wrapper {
    width: 85%;
}

#views-exposed-form-site-search-page .views-exposed-form .views-exposed-widget input#edit-submit-site-search   {

    align-self: center;
    display: inline-block;
    height: 52px;
    overflow: hidden;
    position: relative;
    width: 8em;
    background-color: #0065BD!important;
    border: 1px solid transparent!important;
    color: #FFF!important;
    color: #FFF!important;
    font-size: 13px;
}

#views-exposed-form-site-search-page .views-exposed-form {  width: 100%; margin-top: 2em;}
/*.view-documents-li  .view-contentsting  .view-content*/
.page-views  .view-content {
    background-color: #fff;
}
/*.view-documents-listing .view-content .views-row */
.page-views .view-content .views-row{
    border-bottom: 1px #e5e5e5 solid;
    padding-bottom: 20px;
}
.grid-item-desc {
    margin: 10px 0;
	font-size:14px;
}

.grid-item-desc-list{ margin: 10px 0;
font-size:14px;
line-height:150%;
margin-right:40px;}

.grid-summary {
    font-size: 90%;
	color:#d2d2d2;
}
.grid-item.type-videos span.field-content div.grid-item-content div.grid-summary{color:#999;}

div.grid-item.type-videos{
    float: left;
    width: 288px;
    min-height: 165px;
    /* height: auto; */
    background-color: #fff;
    margin-right: 20px;
    margin-bottom: 40px;
    max-height: 450px;
}

div.grid-item.type-videos div.grid-item-content{    padding: 20px;
    float: left; width:188px;}

div.grid-item-video h5.grid-item-title a{color: #000;
    font-size: 16px;}

div.grid-item-video div.grid-item-content {
    float: left;
    width: 170px;
    padding-left: 20px;
}

div.grid-item-video img {
    width: 100px;
    height: auto;
    float: left;
}

.type-documents.blue-gray.grid-summary, .type-documents.mck-blue.grid-summary,
.type-documents.bright-blue.grid-summary,
.type-documents.global-blue.grid-summary,
.type-documents.cyan.grid-summary,
.type-documents.teal.grid-summary,
.type-documents.turquoise.grid-summary,
.type-documents.blue-gray.grid-summary,
.type-documents.purple.grid-summary {
    font-size: 90%;
	color:#d2d2d2 !important;
}

#cboxLoadedContent div#page-wrapper,
.logged-in.adminimal-menu #cboxLoadedContent #page {
    margin-top: 0px !important;
}

#cboxTitle { display: none; }

h2 {
    font-size: 2.6em;
    font-weight: normal !important;
    font-family: HelveticaNeue;
}

.page-views h2, .page-views h1 {
    border-bottom: 1px #999 solid;
    padding-bottom: 9px;
    margin-bottom: 20px;
}

.view .view-content .item-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
}

.page-views .view-footer .grid-video-overlay {
    height: 20px;
}

.front h2 {
  margin-bottom: 15px;
    font-size: 1.8em;
    padding: 30px 30px 30px 110px;
    background-color: #ad005b;
    color: #fff;
    background-image: url('http://apps.mckinsey.com/lean/sites/all/themes/mck/images/bookmark-icon.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 90px;

}

.white, .white a {color: #fff; }

.grid-category { margin: 15px 0px; }

.views-exposed-form {
    float: right;
    margin-bottom: 24px;
}

.view-content {
    clear: both;
}

.grid-time { font-style: italic; }

.video-data{margin-bottom:10px;}

.node-teaser a {
    font-size: 24px;
}
.node-teaser .submitted {display:none;}
.node-teaser .node-readmore { display:none; }


.page-taxonomy .slider-left, .page-taxonomy .slider-right {
    display: none;
}
.breadcrumb {display:none;}

.page-taxonomy h2.node-title a {
   font-size: 18px;
}
.page-taxonomy #navigation {display:none;}
.page-taxonomy.page-views h2 { 
    border-bottom:none; 
}

.page-taxonomy .views-row {
    padding: 30px;
}
#block-mck-categories-block-mck-cat ul li a {color:white; font-family:HelveticaNeue}


.grid-item:last-child {  margin-right: 0 !important; }

.mck-footer{
    clear:both;
}

.grid-summary {
    font-size: 1.1em !important;
    color: #d2d2d2;
}

/*.grid-item-video a{
height: 100px; background-color: #00aced; display: block; background-image: url('files/img/play-circle-blue.png'); background-repeat: no-repeat; background-size: 25%; background-position: center; }*/


/*LOGIN PAGE*/
.page-user #edit-pass {
    display: none;
}
.page-user div.error {
    background-color: #FFF;
    border-color: #CD202C;
    background-image: none;
    color: #cd202c;
    padding: 10px 10px 10px 30px;
}
.page-user #page-wrapper {
    margin-top: 80px;
    width: auto;
    padding: 0;
}
.page-user #content, .no-sidebars #content {
    float: none;
    width: auto;
    margin-right: 0;
}
.page-user #main-wrapper{ 

    font-size: 18px;
    margin: 0 auto;
    
    
    width: 100%;
}
.page-user #navigation {
    display: none;
}

.page-user #main .section {
    margin: 0 auto;
    width: 700px;
    padding: 100px;
    background: #0065BD;
    
}
.page-user h1 {
    /*display: none;*/
    color: #FFF;
}
.page-user form label {
    display: none;
}
.page-user form .description {
    display: none;
}
.page-user form input, .page-user-register form input {
    border-radius: 0;
    display: block;
    padding: 24px;
    outline: 0;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 1px solid #E5E5E5
}
.page-user input#edit-name { 
    border-bottom: 1px solid #E5E5E5;
}

.page-user form .form-item,
.page-user form .form-actions {
    margin: 0;
}
.page-user input#edit-submit, .page-user-register form input#edit-submit{
    font-size: 1.8rem;
    background-color: #F7E102!important;
    border: 1px solid none!important;
    color: #000!important;
    margin: 0;
    font-weight: bold;

}
.page-user .login-form-wrap a {
    padding-top: 20px;
    color: #fff;
}
.page-user .register-link {
    margin-top: 20px;
}
.page-user .tabs {
    display: none;
}
/*.page-user .messages.error { display: none;}*/
.page-user .mck-footer {
    position: absolute;
    bottom: 0;
}
.page-user.page-user-register .messages.error { display: block;}

.page-user-register .description {display: none;}
.page-user-register .form-type-password-confirm {display: none;}
.page-user-register .tabs { display: none;}
.page-user-register #navigation { display: none;}
.page-user-register .form-item-name {display: none;}
.userlogout {
    float: right;
    margin-right: 130px;
}



