/*
 * Basic form layout in three columns.
 */
.hurricane-sliders,
.hurricane-colors,
.hurricane-preview {
  float: left;
  margin-bottom: 1em;
}

.hurricane-sliders {
  width: 270px;
}

.hurricane-colors {
  width: 200px;
}

.hurricane-sliders,
.hurricane-colors {
  margin-right: 20px;
}

/*
 * Sliders
 */
.hurricane-properties {
  min-height: 120px;
  position: relative;
}
.hurricane-properties .form-item {
  margin-bottom: 0;
  padding-bottom: 0;
}

.hurricane-properties .slider,
.hurricane-properties label {
  display: inline-block;
}

.hurricane-properties label {
  width: 140px;
}

.hurricane-properties input.slider {
  text-align: right;
}

.hurricane-properties div.slider {
  margin-left: 10px;
  position: relative;
  top: 0.2em;
  width: 150px;
}

/*
 * Preview
 */
.hurricane-preview {
  left: 450px;
  margin-top: -52px;
  position: absolute;
  top: 50%;
}

.preview-spinner {
  border: 2px dashed #ccc;
  line-height: 0px;
  margin-right: 1em;
}

.preview-spinner.large .throbber {
  height: 96px;
  width: 96px;
}

.preview-spinner.medium .throbber {
  height: 32px;
  width: 32px;
}

.preview-spinner.small .throbber {
  height: 16px;
  width: 16px;
}

/*
 * farbtastic
 */
.hurricane-farbtastic {
  background: white;
  border: 1px solid #ccc;
  display: none;
  padding: 10px;
  position: absolute;
  z-index: 5;
}
