
.forward-link {
  position:relative;
  bottom: 0.5em;
  float:right;
  margin-left: 1em;
}

.forward-syslink {
  margin-right: 1em;
}

img.forward-icon {
  vertical-align: middle;
width:13px;
position:relative;
top:-2px;
}

img.forward-icon-margin {
  margin-right: 4px;
}

label.printmail-label {
  width: 175px;
  float: left;
}
