* {
  background-color: transparent;
}

.sidebar,
#navigation,
#header-region,
#search-theme-form,
#footer,
.breadcrumb,
.tabs,
.feed-icon,
.links {
  display: none;
}

#page {
  width: 100%;
}

#content,
#content #content-inner,
.content,
.title {
  margin: 20px 0;
  width: auto;
}

a:hover, a:active, a:link, a:visited {
  color: black;
}

#content a:link:after, #content a:visited:after {
  content: " (" attr(href) ") ";
  font-size: 0.8em;
  font-weight: normal;
}

/*# sourceMappingURL=print.css.map */
