
/* CSS styles */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

@font-face {
  font-family: 'Main SaaSFont';
  src: url('HelveticaNeueLTStd-Bd.otf') format('opentype');
}

@font-face{
  font-family:'SaaS Georgia';
  url('georgia_0.ttf')  format('truetype'), /* Safari, Android, iOS */
}


body { line-height: 1; }

ol, ul { list-style: none; color: #808080; }

.featured_stories .members ol, .featured_stories .members ul, .featured_stories .members ul li { list-style: none !important; color: #808080; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clear { display: block; }
.clear-all { clear:both; }
/* Custom */

a {
    text-decoration: none;
    color:#E37222;
    /*color: #EDB336;
    border-bottom: solid 1px #E7E7E7;*/
}

body {
    font-family: Helvetica, Arial, sans-serif;
}
.main-body {
    background: url(../img/bg-body.jpg) no-repeat;
    height: 158px;
    background-position: center top;
}

.front.main-body {     margin-top: -30px; }

.logo a  {
    display:block;
    width:200px;

    position:absolute;
    left:240px
}

header {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    position:relative
}

header a { color: #fff; }

header a.mck {
    position: absolute;
    padding: 23px 23px 0 0;
    height: 0px;
    width: 195px;
    top: 55px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    border-right: 1px dotted #8AA0AD;
}

p {
    color: #676767;
    line-height: 22px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin: 0 0 3px 0;
}

.article {
    color: #676767;
    line-height: 16px;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    margin: 6px 0 0 0;
}


h1 { display: block; }

h3,
h2.block-title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 22px;
    font-weight: normal;
    color: #E37222;
    margin-bottom: 15px;
    font-weight: bold;
}

header h1 a {
    text-decoration: none;
    font-size: 29px;
    line-height: 29px;
    color: #fff;
    position: absolute;
    top: 36px;
    left: 400px;
    font-weight: normal;
}

.article-wrapper table tbody { border: none !important; }

.navbar {
    position: absolute;
    top: 112px;
    width: 960px;
}

.navbar ul li {
    display: block;
    width: 190px;
    float: left;
}

.navbar ul li a {
    display: block;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    background-color: #2175BF;
    text-decoration: none;
    line-height: 46px;
    height: 46px;
    color: #fff;
    margin-right: 1px;
}

article {
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
}

article h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #000;
    margin-bottom: 8px;
    padding-top: 5px;
}

.page-node-98 article h1 {
	font-family: 'Main SaaSFont', 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 40px;
    line-height: 42px;
	letter-spacing: 0.1px;
    color: #099ee0;
    margin-bottom: 8px;
    padding-top: 5px;
}

article h2 {
	
	font-family: 'Main SaaSFont', 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 25px;
    line-height: 28px;
	letter-spacing: 0.1px;
    color: #099ee0;
    margin-bottom: 12px;
    padding-top: 6px;
}
article .pub-info {
    padding: 5px 0 15px 0;
}

article .summary-info p {
    padding: 10px 0 15px 0;
	font-family: 'SaaS Georgia', 'Droid Serif', Helvetica, Arial, sans-serif;
	color: #E37222;
	font-size: 15px;
}

div.field-type-text-with-summary {
	border-top: 1px #ccc solid;
	padding-top: 24px;
	margin-top: 15px;
}

article .author {
   font-family: Roboto, 'Open Sans', Helvetica;
	font-weight: 500;
	font-size: 15px;
}

span.pub-date{
   font-family: Roboto, 'Open Sans', Helvetica;

	font-size: 15px;
}

.grey { color: #aaa; }

article p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 0;
}
span.exhibit-heading {
	background-color: #888;
	width: 100%;
	display: block;
	padding-top: 15px;
	color: #fff;
	font-family: 'Roboto';
	font-size: 16px;
	padding-bottom: 15px;
	padding-left: 11px;
	margin-top: 13px;
}

img.exhibit { border: 3px solid #888; margin-bottom: 30px;}

.article-full {
    border-bottom: 3px solid #ebebeb;
}

.article-block {
    display: inline;
    float: left;
    width: 215px;
    height: 349px;
    border: solid 1px #ccc;
    margin: 0 20px 20px 0;
    overflow: hidden;
    font-size: 10px;
}


.article-block .article-container {
    padding: 10px;
}

.article-block .pub-date {
    font-size: 12px;
    padding-bottom: 8px;
}

.article-block .article-title {
    color: black;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.3em;
    padding-bottom: 3px;
}

.article-block .article-teaser p {
    font-size: 14px;
    /*color: grey;*/
    padding: 1px 0px 3px 0px;
    line-height: 15px;
    line-height: 18px;
    overflow: hidden;
	width: inherit;
}

.article-teaser ul, ol {
    color: #808080;
    list-style: square;
}


.article-block-image {
    width: 215px;
    height: 135px;
    overflow: hidden;
}

.article-image {
    float: left;
    /*padding-right: 10px;*/
    /*padding-top: 5px;*/
    padding: 5px 20px 5px 0;
	margin-bottom: 20px; 
}

.article-image-caption {
    width: 100%;
    color: #E37222;
    font-weight: bold;
    padding-top: 10px;
}

.blog-list {
    color: #E37222;
    padding: 10px 10px;
    font-size: 12px;
}

.article-image-sizer {
    width: 400px;
    height: 247px;
    overflow: hidden;
}

.article-image-sizer.hero {
    width: 700px;
    height: 360px;
    overflow: hidden;
}


.article-wrapper {
    padding: 0;
}


.article-wrapper ol {
    color: #808080;
    list-style: decimal;
    padding-left: 20px;
}


.article ul {
    color: #808080;
    list-style: square;
    padding-left: 20px;

}

.article-teaser {margin-top: 1px;}

.article-list {
    margin-bottom: 10px;
}

.article-row {
    display: block;
    padding-bottom: 10px;
}

.article-row:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.article-footer {
    padding-top: 15px;
}

.social {
    padding: 10px;
    float: right;
}

.social a {
    padding: 0 5px;
}

.sub-heading { color:#2175be !important; font-weight:bold; padding-bottom:-25px; }

.navbar ul li:hover a { background-color: #00ADEF; }

.navbar ul li a.active { background-color: #00ADEF; }

.author-info {
	color: #676767;
	font-size: 14px;
}

.author-heading { 
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 13px;
}

.author-description {
	font-size: 14px;
	margin-bottom: 20px;
}

#contact-links {
    position: absolute;
    right: 25px;
    top: 56px;
    font-size: 11px;
    line-height: 11px;
}

#contact-links span {
    border-right: solid #FFF 1px;
    padding: 0 16px 0 0;
}

#contact-links a {
    margin-left: 16px;
    text-decoration: none;
}

#body {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 190px;
    left: 50%;
    margin-left: -480px;
}

#content {
    width: 715px;
    padding-right: 20px;
    padding-top:15px;
    float: left;
    border-right: 5px solid #ebebeb;
    margin: 0 0 50px 0;
}

#content section {
    padding-bottom: 15px;
    border-bottom: 3px solid #ebebeb;
    margin-bottom: 15px;
}

.featured_stories {
    position: relative;
}

.front {
    padding: 30px 0 20px 0;
}

.featured_stories:after {
    clear: both;
}

.featured_stories h1 {
    font-size: 28px;
    line-height: 34px;
    text-decoration: none;

}

.featured_stories p {
    font-size: 15px;
    /*font-weight: bold;*/
    color: #676767;
    line-height: 22px;
    font-family: Helvetica, Arial, sans-serif;
    width: 704px;
    margin: 0 0 20px 0;
}

.featured_stories ul {
    margin: 0 0 20px 0;
    color: #676767;
    line-height: 23px;
    font-size: 15px;
}

.featured_stories ul li {
    line-height: 23px;
    list-style: square;
    margin-left: 20px;
}


li#learn { list-style:url(../img/icon_learn.png) }

li#compare { list-style:url(../img/icon_compare.png) }

li#complete { list-style:url(../img/icon_complete.png) }

li#receive { list-style:url(../img/icon_receive.png) }

#content section.noborder {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0
}

.leftie p, p.leftie  {
    width: 485px;
    float: left !important;
    padding: 0 25px 0 0;
}

.leftie form {
    /*float: left;*/
    /*width: 485px;*/
}

.full {
  width: 100%;
  border-top: 1px solid #DFDFDF;
  margin: 10px 0px;
  padding: 20px 0px 5px 0px;
  border-bottom: 1px solid #dedede;
}
.left {float: left}
.right {float: right;}

.side {width: 14%;margin-bottom: 11px;}
.details { width: 70%; }

.grey-border { border: 1px #ededed solid; margin-bottom: 10px;}

span.thumb-title {
  color: #808080;
  font-size: 16px;
}

.full .side.left img {
  border: 2px #ccc solid;
}

.field-item ul { color: #676767; }

.full a { font-size:12px;}

.field_container { margin-bottom: 10px; }

.featured_stories.leftie p
    {
        float: none;
    }

.leftie form input {
    width: 300px;
    height: 30px;
    line-height:30px;
    margin: 0 0 0 20px;
}

.members img {
    float: left;
    margin: 23px 25px 0 0;
}

.members ul {
    margin: 0 0 0 0;
    border-bottom: 3px solid #ebebeb;
    padding: 25px 0 35px 0;
    line-height: 22px;
}

.members ul li {
    color: #676767;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
}

img.logo_blu { margin-top: 20px; }

a.more {
    font-size: 18px;
    /*font-weight: bold;*/
    display: inline-block;
    width: 155px;
    padding-top: 7px;
    line-height: 20px;
    padding-right: 45px;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: right 0;
    color: #E37222;
    height: 35px;
}

a.more.link {
    display: inline-block;
    text-align: right;
    width: 250px;
    float: right;
    height: 35px;
    margin: 0 25px 0 0;
}

a.more.link-left {
    display: inline-block;
    text-align: right;
    width: 110px;
    height: 35px;
    margin: 0 25px 0 0;
}

a.more.link.shorty {
    width: 60px;
    margin: 25px 240px 0 0;
}

aside#main-sidebar {
    width: 180px;
    float: right;
}

aside {
    font-size: 12px;
    line-height: 16px;
    color: #535A56;
    display: block;

    font-family: Helvetica, Arial, sans-serif;
}

aside section {
    padding-bottom: 15px;
    margin: 0 0 25px -25px;
    border-bottom: 3px solid #ebebeb;
    width: 180px;
}

aside p {
    width: 160px;
    line-height: 18px;
    font-size: 13px;
    font-weight: bold;
}

/*aside section:last-child {     border-bottom: 3px solid #ebebeb; }*/

/*a.more {*/
/*font-size: 18px;*/
/*display: inline-block;*/
/*width: 150px;*/
/*line-height: 20px;*/
/*padding-right: 50px;*/
/*background-image: url(../img/arrow.png);*/
/*background-repeat: no-repeat;*/
/*background-position: right 0px;*/
/*color: #E37222;*/
/*height: 35px;*/
/*}*/

/*a.more.link {*/
/*width: 250px;*/
/*float: right;*/
/*height: 35px;*/
/*margin: 0 25px 0 0;*/
/*line-height: 31px;*/
/*}*/

aside img { margin: 20px 0 0 10px; }

.form { display:block; }
.form div { height:40px }

.form label {
    display:block;
    float:left;
    width:100px;
}

.form input {
    padding:0px 20px;
    display:block;
    float:left;
    width:300px;
}

.shorty { margin-top:31px !important }

td { vertical-align:top; }

td p { line-height: 15px; }

li.strong { font-weight:bold; }

footer, .page-footer {
    display:inline-block;
    width: 700px;
    margin: 100px 0 100px 0;
    font-size:10px;
    color: #536378;
}

footer ul#links {
    list-style:none;
    border-top: 2px solid #ebebeb;
    padding:12px 0 0 0;
}

footer ul#links li {
    display: inline;
    padding-right: 20px;
}

footer ul#links li:first-child { margin-left:0; }

footer ul#links li a { color: #536378; }

/*----------------------------------------------------------------------------------------------------------------------
 Multi Screen
----------------------------------------------------------------------------------------------------------------------*/
strong { font-weight: bold; }


#address { display: none; }
.field_container { position: relative; display: inline-block; }
.e7-form-invalid { border-color: #cc0200 }
.e7-form-invalid-indicator { height:auto!important; padding: 3px 5px; position:absolute; top:-5px; right:-4px; font-family:sans-serif; font-size:10px; text-align: right; color: #FFF; text-shadow: 0 -1px rgba(0,0,0,.4); box-shadow: 0 1px 2px 1px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.5) inset; background: #cc0200; }
#captcha { height:123px; margin-left: 116px; }
.captcha-result { margin: 10px 0 50px 116px; font-size: 12px; color: #cc0200; }


.recaptchatable a, .recaptchatable a:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 0 none !important;
    color: #999999 !important;
    cursor: pointer;
    font-weight: normal;
    font-size: 12px !important;
    outline: medium none;
    padding: 0 !important;
    text-decoration: none;
}

#block-webform-client-block-84 .block-title { display: none; }

input[type=text], textarea,
input.form-text,
input.form-email {
    width: 95%;
    display: block;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.1), 0 0 3px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.1), 0 0 3px rgba(0,0,0,0.1);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1), 0 0 3px rgba(0,0,0,0.1);
    padding: 12px;
    background: #FEFEFE;
    margin: 0 0 15px 0;
    font-size: 12px;
}

label {
    font-size: 11px;
    margin-bottom: 5px;
}

.form-submit {

    font-size: 18px;
    /* font-weight: bold; */
    display: inline-block;
    width: 155px;
    padding-top: 7px;
    line-height: 20px;
    padding-right: 45px;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: right 0;
    color: #E37222;
    height: 35px;


    display: inline-block;
    text-align: right;
    float: right;
    height: 35px;
    margin-top: 31px !important;
    margin-bottom: 25px; 
    border: none;
    background-color: #fff;
    cursor: pointer;
}

span.fieldset-legend {
    font-weight: bold;
}
.captcha {
    font-size: 13px;
}

.tips {
    font-size: 13px;
    line-height: 20px;
}

section.comments { border-bottom: none !important; }

.node-webform .submitted {display: none;}

#edit-preview {display: none; }


.comments header h3 {
    margin-bottom: 0px;
}

.comments header a {
    color: #E37222;
    font-size: 16px; 
}

.comments h2.title {
    font-size: 18px;
    font-weight: bold;
}

.comments h2.comment-form {
    margin-top: 25px;
}

span.submitted {
    font-size: 12px;
}

li.comment-reply a {
    font-size: 12px;
}

.node-unpublished { background-color: #fff !important; }

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote {
	background: #f9f9f9;
	border-left: 4px solid #ccc;
	margin:0px 18px 0.5em 0px;
	width: 32%;
	float: left;
	padding: 2em 18px;
	font-family: 'Open Sans', 'Helvetica Nueue', Arial;
	font-size: 18px;
	font-weight: 300;
	line-height: 26px;
	quotes: "\201C""\201D""\2018""\2019";
}

p.announce {
border-top: 1px #E37222 solid;
border-bottom: 1px #E37222 solid;
padding: 18px 0px;
margin-bottom: 30px;
font-family: 'Open Sans';
}

strong.an-title {
font-family: 'Open Sans';
font-weight: 300;
color: #428CCD;

}

strong.an-title span.bold {
font-family: 'Open Sans';
font-weight: 400;
font-size:20px;
color: #428CCD;
}

sup {
font-size: 12px;
vertical-align: top;
color: #2175BF;
font-weight: bold;
line-height: 15px;
margin-left: 2px;
}

span.figure-caption{
  color:#676767;
  font-style: italic;
  font-size: 13px
}

span.citations{
  color:#848484;
  font-style: normal;
  font-size: 11px
}

.citation-list {
  margin-top: 30px;
  border-top: 1px #aaa solid;
  padding-top: 20px
}

.citation-list sup {
  margin-right: 6px;
}

.field-item ul li {
  margin-left: 16px;
  margin-bottom: 5px;
}

.field-item ul {
  list-style-type: disc;
}

.sub-heading-italic {
  color: #E37222;
}

table.footertable {
  border: #FFF;
  width: 100%;
  font-size: 13px;
}

table.footertable tr td img {
  border: 2px solid #bbb;
}

.author-title {
  color: #E37222;
  font-weight: bold;
}